html,
body {
  height: 100%;
  position: relative;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.collection-create-form_last-form-item {
  margin-bottom: 0;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.imgGood {
  width: 128px;
  height: 128px;
}
.imgContainer {
  width: 128px;
  height: 128px;
  padding: 8px;
  border: 1px dashed #d9d9d9;
  background-color: #fafafa;
  transition: border 0.5s;
  position: relative;
  box-sizing: content-box;
}
.imgContainer:hover {
  border-color: deepskyblue;
}
.imgContainer .imgInput {
  width: 128px;
  height: 128px;
  background-color: deepskyblue;
  opacity: 0;
  position: absolute;
}
.imgContainer .imgGood {
  width: 128px;
  height: 128px;
  opacity: 0;
}
#root {
  height: 100%;
}
#root > .layout {
  min-height: 100%;
}
.ant-layout-content {
  padding: 50px 50px 0 50px;
  display: flex;
}
.ant-layout-content .content {
  padding: 24px;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-layout-content .content .box {
  width: 100%;
  height: 100%;
}
.ant-layout-content .content .content_goods {
  width: 75%;
  flex: auto;
}
.ant-layout-content .content .content_goods .good {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-layout-content .content .content_goods .good .goodImg {
  width: 160px;
  height: 160px;
}
